* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Text Utility Classes */
.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  padding: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  padding: 40px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  padding: 30px 0 20px;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  padding: 20px 0 10px;
}

.text-sm {
  font-size: 0.9;
  line-height: 1.4;
  font-weight: normal;
  padding: 10px 0 5px;
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .text-xxl {
    font-size: 1rem;
  }

  .text-xl {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1.2rem;
  }

  .text-md {
    font-size: 0.9rem;
  }

  .text-sm {
    font-size: 0.6rem;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
p {
  font-size: 1rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  h2 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  h3 {
    font-size: 0.9rem;
    font-weight: 600;
  }
  p {
    font-size: 0.7rem;
  }
}
