/* Hero */
.hero {
  width: 100%;
  max-width: 1500px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.hero .container {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.hero .container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  padding: 0;
  margin: 0;
  border: none;
}

.hero .hero-content {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: var(--white);
  padding: 20px;
  max-width: 40%;
  text-align: center;
  z-index: 2;
  border-radius: 0 0 10px 0;
}
@media (max-width: 768px) {
  .hero .hero-content {
    max-width: 60%;
    padding: 5px;
  }
  .hero h1 {
    padding: 10px;
  }
  .hero-button-box {
    padding: 5px;
  }
}
.hero-btn {
  background-color: var(--light-blue);
}
.hero-button-box {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.hero .hero-text {
  width: 70%;
  margin-bottom: 20px;
}
