/* Table styles */

.table-rows {
  display: none;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: var(--dark-blue);
  color: white;
  font-weight: 600;
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Spinner */
.spinner {
  display: none;
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--dark-blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Result display */
.result-box {
  background-color: var(--light-grey);
  border: 1px solid var(--dark-blue);
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(10, 50, 90, 0.2);
}

.result-highlight {
  font-weight: bold;
  color: var(--dark-blue);
  font-size: 1.1em;
}
.table-title {
  width: 60%;
  align-items: center;
  text-align: center;
  margin: 10px;
}
#table-row-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#table-row-mid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.mid-tables-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.table-container {
  width: calc(0.6 * 1500px);
  overflow-x: auto;
  margin: 0 auto;
  flex: 1 1 auto;
  min-width: 200px;
  box-sizing: border-box;

  padding: 10px;
}
#table-row-mid .table-container {
  max-width: fit-content;
}
#table-row-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.results-table thead {
  height: 70px;
  background-color: var(--dark-blue);
  color: var(--white);
  text-align: left;
  font-weight: bold;
  font-size: large;
}
.results-table th,
.results-table td {
  padding: 12px 15px;
  border-top: solid 1px #e0e0e0;
  border-collapse: collapse;
  text-align: left;
}

.results-table tr:last-of-type {
  background-color: var(--background);
  font-size: large;
}
@media (max-width: 768px) {
  .table-container {
    max-width: 60%;
    padding: 10px 5px ;
  }
  .results-table {
    font-size: 0.8em;
    max-width: 100%;
    margin: 0;
    min-width: 0;
  }
  .results-table thead {
    font-size: medium;
    height: auto;
  }
  .results-table th,
  .results-table td {
    padding:  2px;
    border-top: solid 1px #e0e0e0;
    border-collapse: collapse;
    text-align: left;
    font-size: smaller;
  }
  .results-table tr:last-of-type {
  font-size: medium;
}
.table-name {
  cursor: pointer;
  transition: 0.3s ease;
}

.table-name:hover {
  color: var(--light-blue);
  transition: 0.3s ease;
}
