.container {
  max-width: 1500px;
  width: 95%;
  margin: 0 auto;
  padding: 0 15px;
}

.container_double {
  max-width: 1500px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.containersm {
  max-width: 40%;
  margin: 0 auto;
  padding: 0 15px;
}

.text_seperator {
  height: 2px;
  width: 70%;
  background-color: #2cd8ff;
  outline: none;
  margin: 5px auto;
}

/* Buttons */
.btn {
  padding: 13px 20px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .btn {
    padding: 5px 8px;
    font-weight: 600;
    font-size: 0.9rem;
  }
  .container {
    width: 100%;
    padding: 5px;
  }
  .box {
    width: 100%;
    padding: 5px;
  }
}

.btn-grey {
  background: var(--dark-grey);
  color: black;
}

.btn:hover {
  opacity: 0.8;
}
